
body {
    padding: 0 2.5%;
}

.products {
    display: flex;
}

.product {
    margin: 2.5%;
    width: 15%;
}

.product__pic {
    width: 75%;
}

.product__name {
    font-weight: bold;
}

.product__price {
    font-size: 12px;
}

.category-title {
    font-weight: bold;
}
